body {
  color: #333;
  position: relative;
  width: 100vw;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.css3d {
  text-align: center;
  /* position: absolute;
  left: 0; */
}
.youtube-wrapper{
  width: 560px;
  aspect-ratio: 16 / 9;
}

.youtube-wrapper iframe{
  width: 100%;
  height: 100%;
}

.credit{
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #fff;
  font-size: 10px;
}