body{
  color: #333;
}

p{
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.css3d {
  /* padding: 0.2em 0.5em; */
  text-align: center;
}

.css3d2 {
  line-height: 1;
  background-color: red;
  text-align: center;
}
